<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Welcome Reception</string>
		<key>time</key>
		<string>09:30</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Welcoming Remarks</string>
		<key>time</key>
		<string>09:50</string>
	</dict>
	<dict>
		<key>speakers</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>Kirsty Scheeberger</string>
				<key>title</key>
				<string> UNFCCC Secretariat, UKELA and Beautiful Corporations</string>
				<key>company</key>
				<string>Vice-Chair of the UK Environmental Law Association</string>
				<key>speaker</key>
				<string>Kirsty Scheeberger</string>
			</dict>
		</array>
		<key>title</key>
		<string> Keynote Speech</string>
		<key>time</key>
		<string>10:00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Coffee Break</string>
		<key>time</key>
		<string>10:50</string>
	</dict>
	<dict>
		<key>speakers</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>Emily Barritt</string>
				<key>title</key>
				<string>Researcher at Cambridge Centre for Environment and Dickson Poon School of Law, King&apos;s College London</string>
				<key>company</key>
				<string>King’s College London</string>
				<key>speaker</key>
				<string>Dr. Emily Barritt (Moderator)</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Alistair McGlone</string>
				<key>title</key>
				<string>Aarhus Convention Compliance Committee Member, McGlone and Associates Director</string>
				<key>company</key>
				<string>Alistair McGlone and Associates Limited</string>
				<key>speaker</key>
				<string>Alistair McGlone</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Farhana Yamin</string>
				<key>title</key>
				<string>Track 0 Founder and CEO, Associate Fellow at Chatham House and Visiting Professor at University College London</string>
				<key>company</key>
				<string>Founder and CEO – Track 0</string>
				<key>speaker</key>
				<string>Farhana Yamin</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Kurt Winter</string>
				<key>title</key>
				<string>Climate Change Lawyer and Litigator at ClientEarth</string>
				<key>company</key>
				<string>ClientEarth</string>
				<key>speaker</key>
				<string>Kurt Winter</string>
			</dict>
		</array>
		<key>title</key>
		<string>Panel I: &quot;In whose name? Public participation in climate change policies and regulations&quot;</string>
		<key>time</key>
		<string>11:10</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lunch Break</string>
		<key>time</key>
		<string>13:00</string>
	</dict>
	<dict>
		<key>speakers</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>Richard Macrory</string>
				<key>title</key>
				<string>Barrister at Brick Court Chambers and Professor of Environmental Law at University College London
</string>
				<key>company</key>
				<string>University College London</string>
				<key>speaker</key>
				<string>Richard Macrory CBE (Moderator)</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Martin Nesbit</string>
				<key>title</key>
				<string>IEEP Senior Fellow and Head of Environmental and Climate Governance Programme</string>
				<key>company</key>
				<string>IEEP</string>
				<key>speaker</key>
				<string>Martin Nesbit</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Angela Francis</string>
				<key>title</key>
				<string>Economist at Green Alliance</string>
				<key>company</key>
				<string>Green Alliance</string>
				<key>speaker</key>
				<string>Angela Francis</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Linda Sigele</string>
				<key>title</key>
				<string>Guest Lecturer at SOAS and Advisor for Alliance of Small Island States</string>
				<key>company</key>
				<string>Environmental lawyer</string>
				<key>speaker</key>
				<string>Linda Sigele</string>
			</dict>
		</array>
		<key>title</key>
		<string>Panel II: &quot;Green Technology: regulation challenges and future potential&quot;</string>
		<key>time</key>
		<string>14:00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Coffee Break</string>
		<key>time</key>
		<string>15:00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Panel III: &quot;Carbon Markets in the post-Kyoto era&quot; </string>
		<key>time</key>
		<string>15:15</string>
	</dict>
	<dict>
		<key>title</key>
		<string>PIEL 10th Anniversary speech and closing words</string>
		<key>time</key>
		<string>16:45</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Drinks Reception</string>
		<key>time</key>
		<string>17:00</string>
	</dict>
</array>
</plist>
