<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Registration</string>
		<key>time</key>
		<string>09:00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Welcoming Remarks</string>
		<key>time</key>
		<string>09:25</string>
	</dict>
	<dict>
		<key>speakers</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>Emanuel Adam</string>
				<key>title</key>
				<string>Policy and Public Affairs Manager</string>
				<key>company</key>
				<string>BritishAmerican Business</string>
				<key>speaker</key>
				<string>Emanuel Adam</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>William Howarth</string>
				<key>title</key>
				<string>Professor of Environmental Law</string>
				<key>company</key>
				<string>Kent Law School</string>
				<key>speaker</key>
				<string>Professor William Howarth</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Samuel Lowe</string>
				<key>title</key>
				<string>Campaigner</string>
				<key>company</key>
				<string>Friends of the Earth</string>
				<key>speaker</key>
				<string>Samuel Lowe</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Alan Bates</string>
				<key>title</key>
				<string>Barrister</string>
				<key>company</key>
				<string>Monckton Chambers</string>
				<key>speaker</key>
				<string>Alan Bates</string>
			</dict>
		</array>
		<key>title</key>
		<string>TTIP: A Dirty Deal?</string>
		<key>time</key>
		<string>09:30</string>
	</dict>
	<dict>
		<key>speakers</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>Sam Fowles</string>
				<key>title</key>
				<string>PhD student</string>
				<key>company</key>
				<string>Queen Mary University of London</string>
				<key>speaker</key>
				<string>Sam Fowles</string>
			</dict>
		</array>
		<key>title</key>
		<string>Threats to the Rule of Law: TTIP, Sovereignty and the Judiciary</string>
		<key>time</key>
		<string>10:40</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Break</string>
		<key>time</key>
		<string>11:10</string>
	</dict>
	<dict>
		<key>speakers</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>Ruth Bergan</string>
				<key>title</key>
				<string>Coordinator</string>
				<key>company</key>
				<string>UK Trade Justice Movement</string>
				<key>speaker</key>
				<string>Ruth Bergan</string>
			</dict>
		</array>
		<key>title</key>
		<string>TTIP, IDSDs and Third Country Rights</string>
		<key>time</key>
		<string>11:30</string>
	</dict>
	<dict>
		<key>speakers</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>Nicolas de Sadeleer</string>
				<key>title</key>
				<string>Facultés Universitaires Saint-Louis</string>
				<key>company</key>
				<string>Brussels</string>
				<key>speaker</key>
				<string>Nicolas de Sadeleer</string>
			</dict>
		</array>
		<key>title</key>
		<string>Trade and the Environment in the EU</string>
		<key>time</key>
		<string>12:00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lunch (vegetarian/ vegan)</string>
		<key>time</key>
		<string>13:00</string>
	</dict>
	<dict>
		<key>speakers</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>Amelia Womack</string>
				<key>title</key>
				<string>Deputy Leader</string>
				<key>company</key>
				<string>Green Party</string>
				<key>speaker</key>
				<string>Amelia Womack</string>
			</dict>
		</array>
		<key>title</key>
		<string>The Political Challenges of Reconciling Trade and Environmental Interests</string>
		<key>time</key>
		<string>14:00</string>
	</dict>
	<dict>
		<key>speakers</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>Tom Burke</string>
				<key>title</key>
				<string>Chairman</string>
				<key>company</key>
				<string>E3G</string>
				<key>speaker</key>
				<string>Tom Burke</string>
			</dict>
		</array>
		<key>title</key>
		<string>TTIP Climate Change Catastrophe?</string>
		<key>time</key>
		<string>14:45</string>
	</dict>
	<dict>
		<key>speakers</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>Shruti Suresh</string>
				<key>title</key>
				<string>Wildlife Campaigner</string>
				<key>company</key>
				<string>Environmental Investigation Agency</string>
				<key>speaker</key>
				<string>Shruti Suresh</string>
			</dict>
		</array>
		<key>title</key>
		<string>CITES and the Illegal Trade in Endangered Species</string>
		<key>time</key>
		<string>15:20</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Break</string>
		<key>time</key>
		<string>15:40</string>
	</dict>
	<dict>
		<key>speakers</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>William Howarth</string>
				<key>title</key>
				<string>Professor of Environmental Law</string>
				<key>company</key>
				<string>Kent Law School</string>
				<key>speaker</key>
				<string>Professor William Howarth</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Clotilde Henriot</string>
				<key>title</key>
				<string>Law and Policy Advisor</string>
				<key>company</key>
				<string>Client Earth</string>
				<key>speaker</key>
				<string>Clotilde Henriot</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Jozef Weyns</string>
				<key>title</key>
				<string>Law and Policy Advisor</string>
				<key>company</key>
				<string>Client Earth</string>
				<key>speaker</key>
				<string>Jozef Weyns</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Leonie Lawrence</string>
				<key>title</key>
				<string>Senior Project Officer</string>
				<key>company</key>
				<string>Global Canopy</string>
				<key>speaker</key>
				<string>Leonie Lawrence</string>
			</dict>
		</array>
		<key>title</key>
		<string>Seeing the Woods for the Trees: Effective Against Deforestation</string>
		<key>time</key>
		<string>16:00</string>
	</dict>
	<dict>
		<key>speakers</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>William Howarth</string>
				<key>title</key>
				<string>Professor of Environmental Law</string>
				<key>company</key>
				<string>Kent Law School</string>
				<key>speaker</key>
				<string>Professor William Howarth</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Mariel Vilella</string>
				<key>title</key>
				<string>Associate Director</string>
				<key>company</key>
				<string>Zero Waste Europe</string>
				<key>speaker</key>
				<string>Mariel Vilella</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Piotr Barczak</string>
				<key>title</key>
				<string>Policy Officer for Waste</string>
				<key>company</key>
				<string>European Environmental Bureau</string>
				<key>speaker</key>
				<string>Piotr Barczak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>Margaret Bates</string>
				<key>speaker</key>
				<string>Margaret Bates</string>
				<key>title</key>
				<string>The University of Northampton</string>
				<key>company</key>
				<string>BritishAmerican Business</string>
			</dict>
		</array>
		<key>title</key>
		<string>Consumers, Product and Packaging: Aspects of Waste Management</string>
		<key>time</key>
		<string>17:00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Closing Remarks &amp; Drinks</string>
		<key>time</key>
		<string>18:00</string>
	</dict>
</array>
</plist>
